streamlit
pandas
requests
python-dotenv
langchain
langchain-core
langchain-huggingface
langchain-pinecone
langchain-groq
pinecone-client==2.2.4
sentence-transformers
langchain_text_splitters
langchain_classic